<ion-view  title="Contraseña Perdida" name="pwlost">

    <ion-content>
      <form name="pwlost">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-required="true" type="email" placeholder="Email" ng-model="email">
          </label>
        </div>
        <div class="padding">
          <button ng-disabled="!pwlost.$valid" type="submit" class="button button-block button-positive" ng-click="lostPassword(email)">Recuperar Contraseña</button>
        </div>
      </form>
    </ion-content>
</ion-view>

