<ion-view title="{{ promocion.producto }}">
  <ion-content has-header="true" padding="true">
  	<div class="card">
      <img class="full-image"  src="{{setUrl}}/uploads/{{imagen.imagen}}">
      <h2>{{promocion.producto}}</h2>
      <p>Descripción: {{promocion.descripcion}}</p>
      <p>Tipo de envio: {{promocion.tipo_envio}}</p>
      <p ng-show="promocion.observacion != null">Observaciones: {{promocion.observacion}}</p>
      <p ng-show="promocion.compra_minima != null">Compra Minima: {{promocion.compra_minima}}</p>
      <p>Fecha fin: {{promocion.fecha_fin_inscripcion}}</p>
      <p >Precio: {{promocion.precio}} €</p>
    </div>
    <div class="button-bar">
    	<a ng-show= "promocion.telefono != null" class="button icon ion-ios7-telephone" ng-href="tel:{{ promocion.telefono }}" target="_blank"></a>
      	<a ng-show= "promocion.Usuario_email != null"class="button icon ion-ios7-email" ng-href="mailto:{{ promocion.Usuario_email }}?subject=Compras En Grupo - {{promocion.producto}}" target="_blank"></a>
      <!--<a href="mailto:{{promocion.email}}" class="icon ion-ios7-email"></a>-->
    </div>
    <div ng-show="promocion.tipo == 5">
    <div ng-show="logedin" id="deviceready" class="">
        <p class="event listening"></p>
        <p class="event received"></p>     
         <a  ng-show="paid==false" class="button button-{{customClass}} button-block" ng-click="payWithPaypal(promocion.precio)">
        Pagar con PayPal
    </a>
    <a  ng-show="paid==true" class="button button-{{customClass}} button-block">
        <i class="icon ion-checkmark-round"></i> Pagado
    </a>    
    </div>
    <div ng-show="!logedin" >
       <a  class="button button-block"  href="#/tab/cuenta/login">
        Registrate y paga con Paypal
    </a>
    </div>
    </div>
  </ion-content>
</ion-view>