
<ion-view  title="Regístrate" name="register">

    <ion-content>
      <form name="registerUserForm">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Nombre</span>
            <input ng-required="true" type="text" placeholder="Nombre" ng-model="user.nombre">
          </label>
        </div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-required="true" type="email" placeholder="Email" ng-model="user.email">
          </label>
        </div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Contraseña</span>
            <input ng-required="true" name="pwd" ng:model="user.password" type="password" placeholder="Contraseña"  required>
          </label>
        </div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Confirme Contraseña</span>
            <input ng-required="true" password-validator="pwd" name="pwd2" ng:model="user.passwordConfirm" type="password" placeholder="Contraseña"  required>
          </label>
        </div>
        <div class="padding">
          <button ng-disabled="!registerUserForm.$valid" type="submit" class="button button-block button-positive" ng-click="registerUser(user)">Registrame</button>
        </div>
      </form>

    </ion-content>

</ion-view>

