<ion-view title="Cuenta">
  <ion-content class="padding">
		<h3 class="subheader">Hola {{ email }}</h3>
		<a class="button button-block button-positive " href="#/tab/cuenta/anadirpromocion">Añadir Promocion</a>
		<a class="button button-block button-positive " href="#/tab/cuenta/anadirpropuesta">Añadir Propuesta</a>
		<a class="button button-block button-positive " href="#/tab/cuenta/subastas">Subastas</a>
		<a class="button button-block button-positive " href="#/tab/cuenta/suscripciones">Mis suscripciones</a>
		<a class="button button-block button-positive" href="#/tab/cuenta/editar">Editar cuenta</a>
		<a class="button button-block button-positive " href="#/tab/cuenta/cambiopw">Cambiar contraseña</a>
		<button ng-click="logout()" class="button button-block button-assertive">Logout</button>
  </ion-content>
</ion-view>