<ion-view title="Propuestas">
<!--<ion-nav-buttons side="right">
      <button class="button button-clear button-clear" ng-click="logout()">
        Desconectar 
      </button>
    </ion-nav-buttons>-->
  <ion-content class="padding">
  <div class="list">

    <a ng-repeat="propuesta in promociones" class="item item-thumbnail-left" href="#/tab/promociones/{{propuesta.id_promocion}}">
      <img src="http://www.fupudev.com/comprasengrupo/ComprasEnGrupo/admin/uploads/{{propuesta.imagen}}">
      <h2>{{propuesta.producto}}</h2>
      <p>{{propuesta.descripcion}}</p>
    </a>
</div>
  </ion-content>
</ion-view>
