<ion-view title="Propuestas">
<!--<ion-nav-buttons side="right">
      <button class="button button-clear button-clear" ng-click="logout()">
        Desconectar 
      </button>
    </ion-nav-buttons>-->
  <ion-content has-header="true" has-tabs="true" on-refresh="#" class="padding">
              <label class="item item-input">
            <i class="icon ion-search placeholder-icon">
            </i>
            <input placeholder="Buscar" type="text" ng-model="searchText">
          </label>

  <div class="list">
    <a ng-repeat="propuesta in propuestas | filter:searchText" class="item item-thumbnail-left" href="#/tab/propuestas/{{propuesta.id_promocion}}">
      <img src="http://www.fupudev.com/comprasengrupo/ComprasEnGrupo/admin/uploads/{{propuesta.imagen}}">
      <h2>{{propuesta.producto}}</h2>
      <p>{{propuesta.descripcion}}</p>
    </a>
</div>
  </ion-content>
</ion-view>
