<ion-view title="Hola {{ usuario.nombre }} !">
  <ion-content class="padding">
		<a class="button button-block button-positive " href="#/tab/cuenta/anadirpromocion">Añadir Promoción</a>
		<a class="button button-block button-positive " href="#/tab/cuenta/anadirpropuesta">Añadir Propuesta</a>
		<a class="button button-block button-positive " href="#/tab/cuenta/subastas">Subastas</a>
		<a class="button button-block button-positive " href="#/tab/cuenta/suscripciones">Mis inscripciones</a>
		<a class="button button-block button-positive" href="#/tab/cuenta/editar">Editar cuenta</a>
		<a class="button button-block button-positive " href="#/tab/cuenta/cambiopw">Cambiar contraseña</a>
		<button ng-click="logout()" class="button button-block button-assertive">Cerrar sesión</button>
  </ion-content>
</ion-view>